DISCORD_CLIENT_ID=INSIRA_O_APPLICATION_ID_DO_DISCORD
DISCORD_CLIENT_SECRET=INSIRA_O_CLIENT_SECRET_DO_DISCORD
SESSION_SECRET=INSIRA_UM_SEGREDO_ALEATORIO_DE_PELO_MENOS_32_CARACTERES
LIVE_SYNC_SECRET=INSIRA_OUTRO_SEGREDO_ALEATORIO_IGUAL_AO_DO_BOT
